.fee {
  padding-right: 40px;
  max-width: 508px;

  @media screen and (max-width: $width-big) {
    padding-right: 0;
  }

  &__headline {
    line-height: 17px;
    text-align: center;
    padding-bottom: 40px;
  }
}

.bank {
  padding-bottom: 25px;

  &__chip {
    display: flex;
    padding: 10px 12px;
    background-color: $btn-color;
    margin-bottom: 25px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  &__sum {
    line-height: 17px;
  }
}

.information {
  &__text {
    line-height: 28px;
  }
}

.amount {
  padding-bottom: 30px;

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  &__input {
    width: 121px;
  }

  &__btns {
    display: flex;
    padding-bottom: 30px;
  }

  &__btn:not(:last-child) {
    margin-right: 7px;
  }
}

.extra__btn {
  width: 100%;

  &:hover {
    .arrow {
      width: 17px;
      height: 17px;
      border-width: 3.5px;
      transition: 0.5s;
    }
  }
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 3px solid $text-color;
  border-top: 3px solid $text-color;
  transform: rotate(45deg);

  &_next {
    margin-left: -9px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 240px;
  height: 6px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 0px rgba(255, 255, 255, 0.19));
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 3px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.71));
    background: url("../../assets/ellipse.png");
    background-size: contain;
    cursor: pointer;
  }
}

.control {
  cursor: pointer;
  background: $text-color;
  height: 4px;
  width: 20px;
  position: relative;

  &_extra:after {
    content: "";
    height: 20px;
    width: 4px;
    background: $text-color;
    position: absolute;
    top: -8px;
    left: 8px;
  }
}

